
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-angle-right"></i>Paciente</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse" style="font-size: 20px;">
            <div class="navbar-nav mx-auto py-0">
                <div class="nav-item dropdown">
                    <a routerLink="agendarConsulta" class="nav-item nav-link" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Agendar consulta</a>
                                       
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Solicitar examenes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="buscarLaboratorios" style="color: rgb(0, 63, 252);">Nuevo</a>
                        <a class="dropdown-item" routerLink="listarSolicitudesFinalizadas" style="color: rgb(0, 63, 252);">Todos</a>
                    </div>                    
                </div>
                <div class="nav-item dropdown">
                    <a routerLink="listarConsultasExamenPendiente" class="nav-item nav-link" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Subir examenes</a>
                                       
                </div>
                <div class="nav-item dropdown">
                    <a routerLink="saldos" class="nav-item nav-link" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Saldos</a>                                       
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Reportes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="historialMedicopaciente" style="color: rgb(0, 63, 252);">Historial medico</a>
                        <a class="dropdown-item" routerLink="historialRecargas" style="color: rgb(0, 63, 252);">Historial recargas</a>
                        <a class="dropdown-item" routerLink="consultasXTiempoYespecialidad" style="color: rgb(0, 63, 252);">Consultas por x tiempo y especialidad</a>
                        <a class="dropdown-item" routerLink="examenesXTiempoyTipo" style="color: rgb(0, 63, 252);">Examenes por x tiempo y tipo</a>
                    </div>                    
                </div>
                
            </div>
        </div>
    </nav>
</div>

<!-- Navbar End -->
<!-- Header Start -->

