<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">            

            <h4>Examenes de la solicitud: {{solicitud.idSolicitud}}</h4>

            <br>
            <table class="table table-bordered">
                <thead>
                    <th>Id consulta</th>
                    <th>Id examen</th>
                    <th>Nombre examen</th>
                    <th>Paciente</th>
                </thead>
                <tbody>
                    <tr *ngFor="let examen of examenesSolicitud; let i index">
                        <td>{{examen.idSolicitud}}</td>
                        <td>{{examen.idExamen}}</td>
                        <td>{{examen.nombreExamen}}</td>
                        <td>{{solicitud.idPaciente}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between"></div>
            <div style="text-align: right;">
                <button type="submit" class="btn btn-danger mt-4 me-4 btn-lg" (click)="volver()">Voler</button>
            </div>
        </div>
    </div><br>

    <div style="text-align: right;">
        <a type="submit" class="btn btn-warning mt-4 me-4 btn-lg"
            href="http://localhost:8084/forProject2IPC2_2023_war_exploded/ServletResultadosSolicitud/{{solicitud.idSolicitud}}" target="_blank">Mostrar
            archivo</a>
    </div>
</div>