
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-angle-right"></i>Medico</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse" style="font-size: 20px;">
            <div class="navbar-nav mx-auto py-0">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Mis especialidades</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="listarEspecialidadesApp" style="color: rgb(0, 63, 252);">Nueva</a>
                        <a class="dropdown-item" routerLink="listarEspecialidadesMedico" style="color: rgb(0, 63, 252);">Todas</a>
                    </div>                    
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Mis horarios</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="nuevoHorarrio" style="color: rgb(0, 63, 252);">Nuevo</a>
                        <a class="dropdown-item" routerLink="listaHorarios" style="color: rgb(0, 63, 252);">Todos</a>
                    </div>                    
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Consultas</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="consultasPendientes" style="color: rgb(0, 63, 252);">Pendientes</a>
                        <a class="dropdown-item" routerLink="consultasAgendadas" style="color: rgb(0, 63, 252);">Agendadas</a>
                        <a class="dropdown-item" routerLink="todasConsultas" style="color: rgb(0, 63, 252);">Todas</a>
                    </div>                    
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Reportes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="saldoActual" style="color: rgb(0, 63, 252);">Saldo actual</a>
                        <a class="dropdown-item" routerLink="top5PacientesMI" style="color: rgb(0, 63, 252);">Top 5 pacientes con mayor ingreso</a>
                        <a class="dropdown-item" routerLink="top5EspecialidadesMI" style="color: rgb(0, 63, 252);">Top 5 especialidades con mayor ingreso</a>
                    </div>                    
                </div>
                <a routerLink="historialMedico" class="nav-item nav-link" style="color: rgb(0, 63, 252);">Historial medico</a>
                
            </div>
        </div>
    </nav>
</div>

<!-- Navbar End -->
<!-- Header Start -->

