<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <form (ngSubmit)="FinalizarConsulta(informe.value)" #estudianteForm="ngForm">
                <div class="form-group">
                    <label for="name">Ingrese un informe sobre la consulta:</label>
                    <input type="text" class="form-control" #informe required>
                </div>

                <div class="d-flex justify-content-between"></div>
                <div>
                    <button type="submit" class="btn btn-success mt-2 me-4" [disabled]="mostrarExito==true">Finalizar
                        consulta</button>
                    <a class="btn btn-danger mt-2 me-4" (click)="Volver()">Volver</a>
                </div>
            </form>
            <div>
                <h3>Examenes que contiene la consulta: {{consulta.idConsulta}}</h3>
                <table class="table table-bordered">
                    <thead>
                        <th>Id consulta</th>
                        <th>Id examen</th>
                        <th>Paciente</th>
                        <th>Tipo</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br>
            <h4>Resultado de la consulta</h4>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Aqui iran el pdf de los resultados de la consulta</label>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" *ngIf="mostrarAlerta">
                Debe ingresar un iforme
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="mostrarExito">
                Consulta marcada como finalizada
            </div>
        </div>
    </div>
</div>