<div class="container mt-5 pt-5">
    <div class="card">
        <div class="card-header">
            <form #formidPaci="ngForm">
                <div class="mb-3">
                    <h3 for="exampleInputEmail1" class="form-label">Ingrese un rango de fecha para ver los examenes
                    </h3>
                    <div class="mb-3">
                        <h4>Ingrese la fecha desde</h4>
                        <input type="date" #desde>
                    </div>
                    <div class="mb-3">
                        <h4>Ingrese la fecha hasta</h4>
                        <input type="date" #hasta>
                    </div>
                    <h3 for="exampleInputEmail1" class="form-label">Seleccione una especialidad</h3>
                    <select class="form-select" aria-label="Default select example" #idExamen>
                        <option *ngFor="let examen of examenes" value="{{examen.nombre}}">{{examen.nombre}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-2 me-4"
                    (click)="verExamenes(desde.value, hasta.value, idExamen.value)">Buscar</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="mostrarTabla">
    <!--Tabla de las consultas-->
    <div class="container mt-5 pt-5">
        <div class="card">
            <div class="card-header" id="tabla">
                <h3>Examenes hechas por el paciente: {{idpaciente}} desde: {{desde.value}}, hasta: {{hasta.value}}</h3>
                <table class="table table-bordered">
                    <thead>
                        <th>Id examen</th>
                        <th>Id paciente</th>
                        <th>Tipo/Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let examen of examenesReport; let i index">
                            <td>{{examen.id}}</td>
                            <td>{{idpaciente}}</td>
                            <td>{{examen.nombre}}</td>
                            <td>{{examen.descripcion}}</td>
                            <td>{{examen.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
        <button type="button" class="btn btn-warning" (click)="downloadPDF()">Descargar reporte</button>
    </div>
</div>